/* Fonts created by Font Squirel */
@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-lightitalic-webfont.eot');
    src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway Web';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-bold-webfont.eot');
    src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Playfair Display Web';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

html {
    font-size:14px;
} 
body {
    padding: 0;
}
h1 {
    display: none;
}
body,
button,
input {
    line-height: 2;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-family: 'Raleway Web', sans-serif;
    color: #2d2d2d;
}
h1,
h2,
h3 {
    line-height: 1;
    font-family: 'Playfair Display Web', serif;
}
h2 {
    text-align:center;
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
     
}


.emphasis {
    font-weight: bold;
    font-style: normal;
}
.container {
   margin: 0 auto;
   width: 100%;
}

* { 
    box-sizing: border-box; 
}
/****** Header Section ********/
.page-header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav {
    list-style: none;
    width: 100%;
    text-transform: uppercase;
}
.nav a {
    text-decoration: none;
    color:#B64036;
    cursor: pointer;
}
 .cart {
    width: 3rem;
    cursor: pointer;
}
.logo {
    width: 10rem;
}
 .nav li {
     display: inline-flex;
     margin: 0 1rem;
 }
  .nav ul {
    display: flex;
     list-style: none;
     justify-content: center;
 }
 /****** Adv Section ********/
.adv {
     background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/banner-girl.png') no-repeat center 5rem,
      url('../images/flower-bkgd.jpg') repeat-x center top;
     background-size: cover, 15rem 38rem, cover;
     height: 580px;
     position: relative;
 }
 .ad-text {
     color:white;
     text-align: center;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content: center;
     width: 100%;
     top: 40%;
     position: absolute;
 }
 .new-collection {
     font-size: 1.25rem;
     align-self:center;
     text-transform: uppercase;
 }
 .season {
     font-size: 3rem;
     font-family: 'Playfair Display WebPlay', serif;
     margin: 0 auto;
     padding-right: 1rem;
     align-self: center;
 }


 /****** Product Category Section  *****/

.products-type {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   padding: 0;
}
.large,
.small {
   border: 4px solid white;
   position: relative;
   height:10rem;
}

.large img:before,
.small img:before {
   background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% );
}
.category-name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-name a {
   color: white;
   text-decoration: none;
   text-align: center;
   align-items: center; 
   font-weight: bold;
   font-size: 2.5rem;
   top: 50%;
}
.category-name a:hover {
   color: #f5ebc6;
}
.large {
    width: 100%;
    max-width:100%;
    
}
.small {
    width: 50%;
    max-width:100%;
      
}
.large.mens {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/mens-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.small.trends {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/trends-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.small.glasses {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/glasses-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.small.sale {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/sale-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.small.bags {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/bags-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.large.womens {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100% ),
      url('../images/womens-category.jpg') no-repeat center center;
   background-size: cover, cover;
}

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 70%;
  height: 350px;
  margin-right: 10px;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
 max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.carousel-sel p,h3 {
    text-align:center;
}
.carousel h3{
    color: #E2574C;
}

.product-info {
    width: 100%;
}
.product-info p, h3 {
    text-align: center;
}

 /******Section updates  ******/
.updates {
   background:
      linear-gradient( to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 100% ),
      url('../images/wave-bkgd.jpg') no-repeat center bottom;
   color: white;
   margin-bottom: 8px;
   margin-top: 1rem;
   padding-bottom: 2rem;
}
.updates-form{
    margin: 0 15%;
    border: 2px solid white;
    border-radius: 25px;
    position: relative;
    display:flex;
    line-height: 1;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3rem;
     
}
input[type="email"],
input[type="button"] {
   border: 0;
   border-radius: 25px;
   outline: none;
   height: 1rem;
}

input[type="email"]{
    width : 70%;
    border-radius: 25px;
    padding-left: 10px;
    height: 1rem;
}

input[type="button"] {
   background-color: #e2574c;
   color: white;
   cursor: pointer;
   font-weight: bold;
   top: 1px;
   right: 1px; 
   bottom: 2.5px;
   position: absolute;
   height:100%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
   background-color: #b64036;
}

/***Footer Section ***/
footer {
    display:block;
    text-align: center;
    background-color:#242424;
    color: white;
}

.social-text {
    display:none;
}
.social-media li {
    display: inline-block;
}
.address {
    color: #6F6F6F;
}

 @media screen  and ( min-width: 600px){
 html {
     font-size: 16px;
 }    
/****** Header Section ********/
    .logo {
        order: 1;
    }

     .nav {
         width: 60%;
         order: 2;
     }

     .cart {
         order: 3;
     }

    .carousel-cell {
        width: 50%;
        height: 500px;
        max-width:50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .carousel-cell img{
        margin: 0 auto;
    }

   .carousel-cell-image {
        display: block;
        max-height: 70%;
        margin: 0 auto;
        max-width: 50%;
   } 
   footer {
    display:flex;
    align-items:baseline;
    justify-content: space-between;
    }
    .social-media li {
        display: block;
    }
    .social-text{
        display:inline-block;
    }
 }

 @media screen and (min-width: 1240px){
    .large {
        width: 50%;
        max-width:50%;
}
    .small {
        width: 25%;
        max-width:25%;
}

 }


 
